* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;

    /*Imagem de fundo na lateral esquerda*/
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;

}

/*Section com os cartões e inputs de dados (elemento pai*/
.section_imgcartoes_dados {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    margin-top: 2rem;

}



    /*IMAGENS DOS CARTÕES*/

/*1º Article com as imagens dos cartões*/
.article_img_cartoes {
    margin-right: 5rem;


}

/*Div imagem da frente do cartão*/
.div_img_frente_cartao {
    margin-bottom: 2rem;
    margin-left: 6rem;


}

/*Imagem da frente do cartão*/
.img_frente_cartao {


}

/*Div imagem de trás do cartão*/
.div_img_tras_cartao {
    margin-left: 10rem;


}

/*Imagem de trás do cartão*/
.img_tras_cartao {
 
    
}


    /*INSERÇÃO DE DADOS*/

/*2º Article com os dados a serem digitados pelo usuário*/
.article_dados {
    margin-top: 6rem;


}

/*Todos label*/
label {
    text-transform: uppercase;
    font-size: .8rem;

}

/*Todos inputs*/
input {
    margin-top: .2rem;
    border: 1px solid #ccc;
    border-radius: 5px;


}

/*Mudar a borda de todos os inputs ao clicar com o mousse*/
input:focus {
    border-color: rgb(207, 108, 207); 
    outline: none; /* Remove o contorno padrão do navegador */
}
  

/*Pra tirar as setas do input*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
} 

/*Label pro Cardholder Name , Exp. Date (MM/YY) e CVC*/
.label_nome {


}

/*Input nome*/
#nome_titular {
    padding-right: 8rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

}



/*Label pro Card Number*/
.label_numero {
    margin-top: .2rem;


}

/*Input número cartão*/
#numero_cartao {
    padding-right: 8rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

}


/*Div com label e inputs Exp. Date e cvc (elemento pai do exp, date e cvc*/
.div_exp_date_cvc {
    display: flex;

}

/*Div só com o exp e date*/
.div_exp_date {


}
/*Label Exp. Date (MM/YY)*/
.label_exp_date {


}

/*Input pro mês*/
.input_mes {
    width: 4rem;

    margin-right: .2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

}

/*Input pro ano*/
.input_ano {
    width: 4rem;

    margin-right: .2rem;
    margin-left: .8rem;

    padding-top: .3rem;
    padding-bottom: .3rem;

}



/*Div só com CVC*/
.div_cvc {
    margin-left: .8rem;

}

/*Label CVC*/
.label_cvc {
    margin-left: .8rem;

    
}

/*Input CVC*/
.input_cvc {
    width: 8rem;

    margin-right: .2rem;
    margin-left: .8rem;

    padding-top: .3rem;
    padding-bottom: .3rem;

    padding-right: 12rem;

}



    /*BOTÃO*/

.div_botao {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;


}

/*Botão*/
button {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: .4rem 8rem .4rem 8rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(59, 2, 59);
    color: white;

}

button:hover {
    background-color: rgba(59, 2, 59, 0.781);
}



    /*FOOTER*/

/*Copyright*/
.p_copyright {


}

/*Autora*/
.attribution {
    font-size: 11px; 
    text-align: center;


}

.attribution_link {
    color: hsl(228, 45%, 44%);


}














































































































































































































/*Esse trabalho foi feito por Luciene Lima*/